@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card">
    <form method="post">
        <p>Podaj imie</p>
        <span asp-validation-for="Person.firstName" class="text-danger"></span>
        <input asp-for="Person.firstName" />
        <p>Podaj Rok</p>

        <span asp-validation-for="Person.year" class="text-danger"></span>
        <input asp-for="Person.year" />
        <p>Podaj Nazwisko (opcjonalne)</p>
        <input asp-for="Person.lastName" />

        <button type="submit">Zatwierdź</button>
        
    </form>
</div>  
<div class="card saved"> 
<table class="table">
    <thead>
        <tr>
            <th>
                Uzytkownicy zapisani dzisiaj
            </th>  <th>
                Data Dodania
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model.Records.Users) {
        <tr>
            <td>
                @user.FullName
            </td>
            <td>@user.Date</td>
        </tr>
}
    </tbody>
</table>
       
    


