@page
@model PS3.Pages.WyszukiwanieModel
@{

}
<div class="card">
    <form method="post">
        <p>Podaj imie</p>
        <span asp-validation-for="User.firstName" class="text-danger"></span>
        <input asp-for="User.firstName" />
        <p>Podaj Rok</p>

        <span asp-validation-for="User.year" class="text-danger"></span>
        <input asp-for="User.year" />
        <p>Podaj Nazwisko (opcjonalne)</p>
        <input asp-for="User.lastName" />

        <button type="submit">Zatwierdź</button>

    </form>
</div>
 <div class="card">
            @foreach (var item in Model.Users)
            {
                <p class="userData">@item.firstName @item.lastName @item.year - @item.checkYear()</p>
            }
       </div>
    


