@page
@model PS3.Pages.ZapisaneModel
@{
    ViewData["Title"] = "Data in session";
    @foreach(var item in Model.UsersInSession.Users)
    {
        <p>@item.firstName @item.lastName @item.checkYear()</p>
    }
}

